<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <link rel="shortcut icon" href="images/slogo.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>
<style type="text/css">
    *{font-family:"Hiragino Sans GB", "Microsoft yahei", serif, Tahoma;}
    .prompt500{max-width: 540px; margin:10% auto;}
    .prompt500 img{width: 100%}
    .prompt500 .tex500,.tex500 *{font-size: 32px; color: #25b4e8;text-align: center;}
    .prompt500 a{display: block; width: 20%; height: 36px; position: absolute;}
    .prompt500 .refresh{text-align: center; font-size: 18px;}
</style>
<body>
<div class="prompt500">
    <img th:src="@{/resources/images/500.png}" alt="" class="img-responsive">
    <div class="tex500">500.1</div>
    <div class="refresh">小程序升级中...</div>
    <!--<div class="refresh">[(${errorMessage})]</div>-->
</div>
</body>
</html>
